@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;0,700;1,200;1,400&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color:grey;
}
.logo-text{
    font-size: 3em;
    color: red;
    font-weight: 700;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2px;
    text-decoration: none;
}
nav ul li a {
 text-decoration: none;
}
nav ul li{
    margin-right:10px;
    margin-left: 10px;
    text-decoration: none;
}
.nav-link{
    text-decoration: "none";
    color: black;
    cursor: "pointer";
    font-size: 1.8em;
}
.nav-link:hover{
    color: red;
}
header{
    background: black;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px ;
}
#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header p{
   font-size: 2em;
}
#bio img {
    border-radius: 100%;
    width: 250px;;
    height: 250px;
    padding: 40px;
}
#bio {
    display: flex;
    flex-direction: row;
}
#bio div{
    padding: 50px;
}
#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i1.faceprep.in/ProGrad/portfolio-background.svg);
    background-color: black;
    color: white;
    padding: 40px;
}
#portfolio hr{
    width: 400px;
}
#portolio h3 ,p ,div {
    padding-bottom: 20px;
    padding-bottom: 20px;
}
#portfolio div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 100%;
}
#portfolio div article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
}
#gape br {
padding-top: 50px;
padding-bottom: 50px;
}
#skills {
display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 100%;
}
.skills-inside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    width: 100%;
}
.skills-inside ul {
    list-style: none;
}
.skills-inside div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px;
    align-items: center;
    width: 100%;

}
#skills h3{
    padding-top: 40px;
}
.button-link{
    background: red;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 20px;
    color: white;
    font-size: 1em;
    padding: 8px;
    border-radius: 5%;
    border-color: red;
    margin: 20px;
}

.button-link:hover{
    color: white;
}
progress[value] {
    
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    
    border: none;
    
    
    width: 250px;
    height: 10px;
    border-radius: 2px;
    background-color:whitesmoke;
  }
  progress::-moz-progress-bar { 
      background-color: orangered;
      border-radius: 2px;
    }
footer{
    background-color: black;
    color: white;
}
#contact{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-inside{
    display: flex;
    align-items: center;
    flex-direction: column;                 
}
.input{
    margin: 20px;
    width: 400px;
    height: 20px;
    line-height: 3em;
    border-radius: 2%;
    border-color: black;
}